* text=auto eol=lf

*.md text
*.editorconfig text
*.gitignore text
*.cs text
*.csproj text
*.sln text
*.json text
*.yml text
*.yaml text

*.bin binary
*.cdb binary
*.dll binary
*.exe binary
*.pdb binary
*.safetensors binary
